<ion-content class="ion-padding">
  <mat-tab-group (selectedIndexChange)="onChangeTabs()">
    <mat-tab label="Evaluaciones">
      <gcm-table-top>
        <button
          mat-icon-button
          color="primary"
          style="margin: 0 10px 0 10px"
          (click)="onExportExcel()"
        >
          <mat-icon>save</mat-icon>
        </button>

        <gcm-filter-field [formControl]="filtro"></gcm-filter-field>

        <mat-paginator [pageSizeOptions]="[30]" showFirstLastButtons [hidePageSize]="true">
        </mat-paginator>
      </gcm-table-top>

      <div class="conciliaciones-datatable__table-container gcm-table__container">
        <table
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          [class.d-none]="!dataSource.data.length || isLoading || !dataSource.filteredData.length"
          matSort
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod.</th>
            <td mat-cell class="col-7-5" *matCellDef="let el">
              <div class="gcm-table__principal-column">{{ el.id }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="tipoEval">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip. Eval.</th>
            <td mat-cell class="col-7-5" *matCellDef="let el" (click)="clickOnConciliacion(el)">
              {{ el.tipoEval }} ({{el.tipo_evaluacion.descripcion}})
              <div class="gcm-table__subcontent">CREADA POR {{ el.nombreEvaluador }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreEvaluado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Evaluado</th>
            <td mat-cell class="col-10" *matCellDef="let el" (click)="clickOnConciliacion(el)">
              {{ el.nombreEvaluado }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            has-lines
            mat-row
            *matRowDef="let el; columns: displayedColumns"
            class="gcm-table__element-row selectable  {{
        el.daysSinceCreatedAt > 60 && el.estado === 'PENDIENTE' ? 'unselectable' : ''
      }}"
            [class.gcm-table__expanded-row]="expandedElement === el"
            (click)="expandedElement = expandedElement === el ? null : el; $event.stopPropagation()"
          ></tr>
        </table>
        <gcm-table-no-records
          [isLoading]="isLoading"
          [dataSource]="dataSource"
          *ngIf="!dataSource.data.length || !dataSource.filteredData.length || isLoading"
        >
        </gcm-table-no-records>
      </div>
    </mat-tab>
    <mat-tab label="Resultados por pregunta">
      <div class="container" *ngIf="grafica">
        <div class="row" *ngFor="let data of grafica.datasetsGrouped; let i = index">
          <div class="col-12 col-lg-9">
            <gcm-stacked-bar
              [data]="data"
              [description]="data.aspecto"
              *ngIf="graficaRegenerada"
            ></gcm-stacked-bar>
          </div>
          <div class="col-12 col-lg-3">
            <br />
            <br />
            <div *ngFor="let des of fetchByOrden(data.labels)">
              <span><b>{{des.key}} :</b> {{des.description }}</span><br /><br />
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Resultados generales">
      <div class="container" *ngIf="grafica && calificacionesCondiciones">
        <div class="row">
          <div class="col-12">
            <gcm-stacked-bar
              [data]="calificacionesCondiciones"
              description="CALIFICACIÓN POR CONDICIÓN"
              *ngIf="graficaRegenerada"
            ></gcm-stacked-bar>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="grafica && calificacionesGenerales">
        <div class="row">
          <div class="col-12">
            <gcm-stacked-bar
              [data]="calificacionesGenerales"
              description="CALIFICACIÓN POR ENTIDAD"
              *ngIf="graficaRegenerada"
            ></gcm-stacked-bar>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>
