<ion-content [fullscreen]="true" class="login-background-image ion-padding">
  <section class="login-container">
    <div class="login-content">
      <!-- <img src="assets/images/access-control/logo.png" /> -->

      <div>
        <b>Metrik DS</b><br />
        <span>Control de acceso</span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="clickOnAuthenticate()">
        <ion-item>
          <ion-input
            [formControl]="loginForm.username"
            label="Nombre de Usuario"
            label-placement="floating"
          />
        </ion-item>

        <ion-item>
          <ion-input
            [type]="showPass ? 'text' : 'password'"
            [formControl]="loginForm.password"
            label-placement="floating"
            label="Contraseña"
          />
          <ion-button fill="clear" (click)="showPass ? showPass = false : showPass = true">
            <ion-icon
              class="pass-eye-icon"
              [name]="showPass ? 'eye-off-outline' : 'eye-outline'"
              color="dark"
              slot="end"
            ></ion-icon>
          </ion-button>
        </ion-item>

        <br />

        <ion-button type="submit" class="bolder" [disabled]="isAuthenticating || !loginForm.valid">
          INICIAR SESIÓN
        </ion-button>
        <br />
        <ion-button type="button" class="bolder" (click)="redirectToPublicData()">
          DATA PUBLICA
        </ion-button>
      </form>
    </div>
  </section>
</ion-content>
